# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# Build files
dist/
build/

# IDE
.vscode/

# Logs
*.log